@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://themes.googleusercontent.com/static/fonts/opensans/v4/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf") format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #46733e;
}
.app {
  height: 100%;
  width: 100%;
  display: flex;
  border: solid 2px #001c00;
}
.left {
  background: #003300;
  flex: 1;
  color: #edf1be;
  height: 100%;
  overflow: hidden;
}
.left h2 {
  height: 80px;
  text-align: center;
}
.contacts-container {
  height: 100%;
  overflow: auto;
}
.contact {
  border-top: solid 2px #001c00;
  background: #003300;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.contact .image {
  height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 50%;
  background-position: -10px 0px;
  background-size: cover;
}
.contact .name {
  margin-left: 10px;
  min-width: 50px;
}
.right {
  background: #edf1be;
  flex: 1;
}
.contact-info {
  display: flex;
  flex-direction: column;
  color: #003300;
}
.contact-info header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info header .image {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-position: -10px 0;
  background-size: cover;
}
.contact-info header .image::before {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 55px;
  box-sizing: border-box;
  content: "\f095";
  color: #001c00;
  font-size: 50px;
  font-family: "FontAwesome";
  opacity: 0;
  transition: opacity 0.2s;
}
.contact-info header .image:hover::before {
  opacity: 1;
}
.contact-info header h3 {
  margin: 0;
  text-align: center;
}
.contact-info section {
  flex: 1;
  padding: 15px;
  font-size: 14px;
}
.contact-info section p > span:nth-child(1) {
  text-decoration: underline;
  display: block;
}
